@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css'); /* By DevilBro */
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');



/* People with Roles Background */
.username-h_Y3Us[style*=color] {
    background-color:rgba(80, 80, 80, 0.663) !important;
    border-radius: 5px !important;
    padding: 0 5px 0 5px !important;
}


/* Make sure to keep bottom left normal */
.container-ZMc96U .children-3xh0VB {
    flex-grow: 0 !important;
}


/* Mouse Hover on Message Color */
.mouse-mode.full-motion .message-2CShn3:hover:not(#a){
        background-color: var(--background-message-hover) !important;
}


/* Minimize Member List Size */
.container-2o3qEW {width: 54px !important;}
.container-2o3qEW:hover {width: 230px !important;}


/* Minimize Channels Size */
.sidebar-1tnWFu {width: 100px !important;}
.sidebar-1tnWFu:hover {width: 237px !important;}
